
<div class="col-sm">
    <mat-card class="mat-card-params">
        <form [formGroup]="seedForm">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-light new" (click)="setDefaultValues()">
                    Ingresar parámetros por defecto<i class="fas fa-plus-circle fa-1x" style="color: blue"></i>
                </button>
                <label class="label-button" title="Genera las direcciones aleatoriamente con un espacio de direccionamiento de 1k y una memoria física de 16k">Information</label>
            </div>
            <div class="col-md-4">
                <button class="btn btn-light new" (click)="showParamsForm()">
                    Ingresar parámetros<i class="fas fa-plus-circle fa-1x" style="color: blue"></i>
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="showHelpInformation()">Ayuda </button>
            </div>
        </div>
        
            <div class="seedInput col-md-2">
                <label for="inputName">Cambiar valores aleatorios</label>
                <input type="number" formControlName="seed" class="form-control" placeholder="1">
                <span class="invalid-feedback">
                    <span *ngIf="paramsForm.get('seed').errors?.required">
                        Por favor ingrese el seed
                    </span>
                </span>
            
        </div>
    </form>
    </mat-card>
</div>
<app-form *ngIf="isInputParam" (paramsInformation)="sendParams($event)"></app-form>
